@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 700px) {
  h1 {
    font-size: 35px;
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
    font-size: 25px;
  }
  h2 {
    font-size: 13px;
  }

  p {
    font-size: 15px;
  }

  /* Add more styles for small screens as needed */
}

/* Styles for screens with a width between 601 and 900 pixels */
/* Styles for screens with a minimum width of 901 pixels */
@media (min-width: 901px) {
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }

  /* Add more styles for large screens as needed */
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scale {
  animation: scaleAnimation 0.1s ease-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 100vw;
  padding: 0;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
